{block content}
<h1>{$userInfo->name} {$userInfo->surname}</h1><br>
<label class="Label">Email: {$userInfo->email}</label>
<label class="Label">Adresa: {$userInfo->address}</label>
<label class="Label">Město: {$userInfo->city}</label>


