{block content}
<h1>Přihlášení</h1>
<article class="LogForm">
    <form n:name=loginForm class="FormLogin">
        <input type="text" n:name=nickname placeholder="Přihlašovací jméno">
        <input type="password" n:name=password placeholder="Heslo">	
        <input type="submit" n:name=send value="Přihlásit" class="button">
    </form>
</article>
<a n:href="Registration:"><h3>Registrace</h3></a>